/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 4rem;
  
    /*========== Colors ==========*/
    /* Color mode HSL(hue, saturation, lightness) */
    --first-color: #618264;
    --first-color-alt: hsl(129, 44%, 94%);
    --second-color: hsl(34,94%,87%);
    --title-color: hsl(0,10%,13%);
    --text-color: hsl(179,88%,32%);
    --text-color-light: hsl(60,1%,56%);
    --body-color: hsl(0,0%,100%);
    --container-color: hsl(0,0%93%);
    --border-color: hsl(129,36%,85%);
    --border-color-alt: hsl(113,15%,90%);
  
    /*========== Font and typography ==========*/
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font:'Lato', sans-serif;
    --second-font:'Spartan', sans-serif;
    --big-font-size:3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.6875rem;
    /*========== Font weight ==========*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    /*========== Transition ==========*/
    --transition: cubic-bezier(0,0,0.05,1);
  }
  .header__top {
    background-color: var(--first-color-alt);
    border-bottom: 1px solid var(--first-color);
    padding-block: 0.875rem;
  
  }
  body{
  
    overflow-x: hidden;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__contact span:first-child{
    margin-right: 2rem;
  }
  .header__contact span,
  .header__alert-news,
  .header__top-action{
    font-size: var(--small-font-size);
  }
  
  .header__alert-news{
    color: var(--text-color-light);
    font-weight: var(--weight-600);
  }
  
  .header__top-action{
    color: var(--text-color);
  }
  .nav,
  .nav__menu,
  .nav__list,
  .header__user-actions {
    display:  flex;
    align-items: center;
  }
  nav{
    background-color: #004225;
    width: 100%;
  }
  .nav {
    display:flex;
    height: calc(var(--header-height) + 2rem);
    justify-content: space-between;
    column-gap: 1rem;
  vertical-align: centre;
  }
  
  .nav__logo{
    color:white;
  }
  .nav__menu{
    width: 100%;
    margin-left: 2.5rem;
  }
  .nav__list{
    column-gap: 2.5rem;
    margin-right: auto;
  }
  .nav__link {
    color: white;
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
  }
  
  .header__serach{
    width: 340px;
    position: relative;
  }
  
  .header__serach .form__input{
    width:100%;
  }
  
  .search__btn{
    position: absolute;
    top: 24%;
    right: 1.25rem;
    cursor: pointer;
  }
  
  .header__user-actions {
    column-gap: 1.25rem;
  }
  .header__action-btn{
    position: relative;
  }
  .header__action-btn img{
    width: 30px;
  }
  
  .header__action-btn .count{
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    background-color: var(--first-color);
    color: var(--body-color);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
  
  }
  
  .old__price{
    background-color:var(--first-color-alt);
    border-bottom:1px solid var(--first-color);
    padding-block:0.875rem;
  }
  /* Active link */
  .active-link,
  .nav__link:hover{
    color:var(--first-color);
  }
  *{
    margin: 0px;
    padding: 0px;
}

.training-section{
    width:100% ;
    height:100vh;
    background: url(/assets/img/continue.jpg) ;
    background-size: cover;
    padding-bottom: 50px;
    font-family:var(--body-font) ;
    /* Vertical centering */

}
.training-section {
    text-align: center;
    padding: 25px 0px;
}
h1{
    margin-top:100px;
}
.ccontainer{
    width: 1170px;
    margin: auto;
    flex-wrap: wrap ;
    justify-content: space-around;
    display: flex;
    position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.training-items{
    flex-basis: 40%;
    margin: 10px 0px;
    text-align: center;
    padding: 20px;
    background: rgb(165, 193, 166);
    box-shadow: 0px 0px 10px 3px rgb(6, 100, 47);
}
.training-items h3{
    padding: 10px 0px;
}
.training-items p{
    font-size: 16px;
    padding: 10px; 
}
.training-items button{
    background: rgb(2, 35, 2);
    padding: 10px 25px;
    border: none;
    color: white;
    margin: 10px 0px;
    border-radius: 50px; 

}
.training-items:hover{
    background: green;
}
training-items:hover h3,training-items:hover p{
    color: white;
}
.training-items:hover button{
    background:  rgb(2, 35, 2);
    color: white;
}
.training-items img{
    width: 150px;
    height: 100px;
}
.training-items button{
    cursor: pointer;
}


/*=====footer======*/
  #id{
    background-color:#004225 ;
  }
  div.container-footer.w-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-bottom: 40px;
    padding-top: 70px;
  }
  
  div.container-footer.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.w-row {
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 33.3333%;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  img.failory-logo-image {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    max-width: 30%;
    vertical-align: middle;
  }
  
  h3.footer-failory-name {
    box-sizing: border-box;
    color:var(--first-color-alt);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
  }
  
  p.footer-description-failory {
    box-sizing: border-box;
    color:var(--first-color) ;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  
  br {
    box-sizing: border-box;
  }
  
  div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
  }
  
  h2.footer-titles {
    box-sizing: border-box;
    color:white;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
  }
  
  p.footer-links {
    box-sizing: border-box;
    color: var(--first-color);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
  }
  
  a {
    background-color: transparent;
    box-sizing: border-box;
    color: var(--first-color);
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
  }
  
  a:active {
    outline: 0;
  }
  
  a:hover {
    outline: 0;
  }
  
  span.footer-link {
    box-sizing: border-box;
    color:var(--first-color);
    font-weight: 300;
  }
  
  span.footer-link:hover {
    color: var(--first-color);
    font-weight: 400;
  }
  
  span {
    box-sizing: border-box;
  }
  
  strong {
    box-sizing: border-box;
    font-weight: 700;
  }
  
  div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
  }
  
  div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
  }
  
  a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: var(--first-color);
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: .8;
    text-decoration: none;
  }
  
  a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
  }
  
  a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
  }
  
  img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  p.footer-description {
    box-sizing: border-box;
    color: var(--first-color);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  
  strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
  }